<div class="j_category category-con">
    <div class="category-inner-con j_categoryInnerCon j_categoryTab">


        <div class="category-type">
            <i class="fp-iconfont">&#xe623;</i>
            <div class="text">商品分类</div>
        </div>

        <div class="category-tab-content">
            <div class="nav-con j_tabPannel category-tab-pannel pannel-normal">
                <ul class="normal-nav clearfix">
                    {% for cate in cate_list %}
                        <li class="j_MenuNav nav-item nav-item-0" data-spm="category2016010">
                            <i class="fp-iconfont nav-item-icon icon">&#xe60d;</i><i class="dot fp-iconfont"></i>
                            <a href="#">{{ cate.name }}</a>

                            /<a href="#">{{ cate.name }}</a>


                            <b class="arrow"></b>
                        </li>

                    {% endfor %}

                </ul>
            </div>

        </div>
        <div class="content-con j_categoryContent">
            <div class="pannel-con j_CategoryMenuPannel "></div>
            <div class="pannel-con j_CategoryMenuPannel "></div>
            <div class="pannel-con j_CategoryMenuPannel "></div>
            <div class="pannel-con j_CategoryMenuPannel "></div>
            <div class="pannel-con j_CategoryMenuPannel "></div>
            <div class="pannel-con j_CategoryMenuPannel "></div>
            <div class="pannel-con j_CategoryMenuPannel "></div>
            <div class="pannel-con j_CategoryMenuPannel "></div>
            <div class="pannel-con j_CategoryMenuPannel "></div>
            <div class="pannel-con j_CategoryMenuPannel "></div>
            <div class="pannel-con j_CategoryMenuPannel "></div>
            <div class="pannel-con j_CategoryMenuPannel "></div>
            <div class="pannel-con j_CategoryMenuPannel "></div>
            <div class="pannel-con j_CategoryMenuPannel "></div>
            <div class="pannel-con j_CategoryMenuPannel "></div>
            <div class="pannel-con j_CategoryMenuPannel "></div>
        </div>
    </div>

    <div class="banner-con j_mainBanner loading" data-spm="2016006">

    </div>
</div>