<div id="site-nav" data-spm="a2226mz">
    <div id="sn-bg">
        <div class="sn-bg-right">
        </div>
    </div>
    <div id="sn-bd">
        <b class="sn-edge"></b>
        <div class="sn-container">
            {% if request.user.is_authenticated %}
                <p id="login-info" class="sn-login-info"><em>喵，欢迎来天猫</em><a class="sn-login"
                                                                            href="#"
                                                                            target="_top">{{ request.user.username }}</a><a
                        class="sn-register"
                        href="{% url 'logout' %}"
                        target="_top">登出</a>
                </p>
            {% else %}
                <p id="login-info" class="sn-login-info"><em>喵，欢迎来天猫</em><a class="sn-login"
                                                                            href="{% url 'login' %}"
                                                                            target="_top">请登录</a><a class="sn-register"
                                                                                                    href="{% url 'register' %}"
                                                                                                    target="_top">免费注册</a>
                </p>
            {% endif %}
            <ul class="sn-quick-menu">
                <li class="sn-mytaobao menu-item j_MyTaobao">
                    <div class="sn-menu">
                        <a class="menu-hd"
                           href="#"
                           target="_top" rel="nofollow">我的淘宝<b></b></a>
                        <div class="menu-bd">
                            <div class="menu-bd-panel" id="myTaobaoPanel">
                                <a href="#"
                                   target="_top" rel="nofollow">已买到的宝贝</a>
                                <a href="#"
                                   target="_top" rel="nofollow">已卖出的宝贝</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="sn-seller-center hidden j_SellerCenter">
                    <a target="_top" href="#">商家中心</a>
                </li>
                <li class="sn-cart"><i class="mui-global-iconfont">&#xf0148;</i>
                    <a class="sn-cart-link" id="car_number" href="{% url "list" %}" target="_top"
                       rel="nofollow">购物车
                    </a>
                </li>
                <li class="sn-favorite menu-item">
                    <div class="sn-menu">
                        <a class="menu-hd"
                           href="#"
                           target="_top" rel="nofollow">收藏夹<b></b></a>

                        <div class="menu-bd">
                            <div class="menu-bd-panel">
                                <a href="#" target="_top"
                                   rel="nofollow">收藏的宝贝</a>
                                <a href="#" target="_top"
                                   rel="nofollow">收藏的店铺</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="sn-separator"></li>
                <li class="sn-mobile">
                    <i class="mui-global-iconfont">&#x3448;</i>
                    <a title="天猫无线" target="_top" class="sn-mobile-link"
                       href="//pages.tmall.com/wow/portal/act/app-download?scm=1027.1.1.1">手机版</a>
                </li>
                <li class="sn-home">
                    <a href="//www.taobao.com/">淘宝网</a>
                </li>
                <li class="sn-seller menu-item">
                    <div class="sn-menu J_DirectPromo">
                        <a class="menu-hd" href="//mai.taobao.com" target="_top">商家支持<b></b></a>
                        <div class="menu-bd sn-seller-lazy">
                        </div>
                    </div>
                </li>
                <li class="sn-sitemap">
                    <div class="sn-menu">
                        <h3 class="menu-hd"><i class="mui-global-iconfont">&#xe601;</i><span>网站导航</span><b></b></h3>
                        <div class="menu-bd sn-sitemap-lazy sn-sitemap-bd" data-spm="a2228l4">
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>